* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2699fb;
  height: 80px;
  padding: 1em;
}
nav #brand h1 {
  font-size: 1.5em;
}
nav #brand h1 #xd {
  display: block;
}
nav #menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 48px;
  width: 50px;
  margin-left: auto;
  cursor: pointer;
}
nav #menu span {
  height: 5px;
  background: #fff;
  width: 100%;
  display: inline-block;
}
nav #navigation {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #2699fb;
  height: calc(100vh - 80px);
  display: none;
}
nav #navigation ul {
  position: relative;
  top: 25%;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
nav #navigation ul li {
  margin: 1em 0;
}
nav #navigation ul li a {
  text-decoration: none;
  color: #fff;
}

#container {
  width: 100%;
  background-color: #fff;
}
#container #section1 {
  display: flex;
  flex-direction: column-reverse;
  padding: 1em;
}
#container #section1 div {
  width: 100%;
}
#container #section1 #section1-div1 {
  display: flex;
  justify-content: center;
}
#container #section1 #section1-div1 img {
  margin-left: 1em;
  width: 100%;
  height: auto;
}
#container #section1 #section1-div2 {
  margin-bottom: 1.5em;
}
#container #section1 #section1-div2 h6 {
  color: #7f7f7f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 1em 0 1em 0;
}
#container #section1 #section1-div2 h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  color: #2699fb;
  font-size: 2.5em;
  margin-bottom: 1em;
}
#container #section1 #section1-div2 button {
  background: none;
  color: #2699fb;
  border: 1px solid #bce0fd;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em 2em;
  border-radius: 0.5em;
}
#container #section2 #section2-child {
  width: 100%;
  height: auto;
}
#container #section2 #section2-child #section-left {
  background-color: #f1f9ff;
}
#container #section2 #section2-child #section-left h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  color: #2699fb;
  font-size: 2.5em;
  margin-bottom: 1em;
}
#container #section2 #section2-child #section-left p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  line-height: 2em;
  color: #2699fb;
}
#container #section2 #section2-child #section-right {
  display: flex;
  flex-direction: column;
}
#container #section2 #section2-child #section-right img {
  padding: 0;
  width: 100%;
  height: auto;
}
#container #cards {
  display: grid;
}
#container #cards .section3 {
  width: 100%;
  padding: 0.5em 1.5em;
}
#container #cards .section3 .section3-sections img {
  margin-right: 1em;
}
#container #cards .section3 .section3-sections h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #2699fb;
  font-size: 0.5em;
}
#container #cards .section3 .section3-sections span {
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #7f7f7f;
  font-size: 0.5em;
}
#container #cards .section3 p {
  font-family: Arial, Helvetica, sans-serif;
  color: #7f7f7f;
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 2em;
}
#container #cards .section3 img.profiles {
  margin-top: 2em;
  width: 100%;
}
#container #cards .section3 .footer-icons {
  display: flex;
  margin-top: 2em;
}
#container #cards .section3 .footer-icons h3 {
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #2699fb;
  font-size: 0.75em;
  line-height: 1.5em;
}
#container #section-4 {
  margin-top: 2em;
  width: 100%;
  background-color: #f1f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #section-4 #section-4-div {
  margin: 1.5em 0;
  width: 90%;
  height: 90%;
  background-color: #fff;
  padding: 1em;
  filter: drop-shadow(0.5px 0.5px 6px rgba(38, 153, 251, 0.1019607843));
  opacity: 1;
}
#container #section-4 #section-4-div h1 {
  color: #7f7f7f;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
}
#container #section-4 #section-4-div p:nth-of-type(1) {
  color: #7f7f7f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  margin: 0.25em 0 1em 0;
}
#container #section-4 #section-4-div p:nth-of-type(2) {
  color: #2699fb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
}
#container #section-4 #section-4-div #div-boxes {
  width: 100%;
  margin: 0;
}
#container #section-4 #section-4-div #div-boxes .boxes {
  width: 100%;
  height: 150px;
  background-color: #f1f9ff;
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  padding: 2em;
  border-radius: 0.5em;
}
#container #section-4 #section-4-div #div-boxes .boxes #price {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
#container #section-4 #section-4-div #div-boxes .boxes #price h3,
#container #section-4 #section-4-div #div-boxes .boxes #price span {
  color: #2699fb;
  font-family: Arial, Helvetica, sans-serif;
}
#container #section-4 #section-4-div #div-boxes .boxes #price span {
  font-size: 0.8em;
}
#container #section-4 #section-4-div #div-boxes .boxes div.plus {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  border-radius: 50%;
  margin: 0;
  margin-left: auto;
  color: #2699fb;
  font-weight: bold;
}
#container footer {
  padding: 1.5em;
  background-color: #2699fb;
}
#container footer #footer-section h3,
#container footer #footer-section p {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
#container footer #footer-section h3.start-end {
  padding: 0.5em 1em 0 1em;
}
#container footer #footer-section p#subscribe {
  padding: 0.5em 0;
  line-height: 1.5em;
  text-align: center;
}
#container footer #footer-section form {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  border: 1px solid #fff;
  width: 70%;
  margin: 0 auto;
  border-radius: 0.5em;
  overflow: hidden;
}
#container footer #footer-section form input,
#container footer #footer-section form button {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}
#container footer #footer-section form input {
  color: #fff;
  background-color: inherit;
}
#container footer #footer-section form input::-moz-placeholder {
  opacity: 1;
  color: #fff;
}
#container footer #footer-section form input::placeholder {
  opacity: 1;
  color: #fff;
}
#container footer #footer-section form button {
  color: #2699fb;
  background-color: #fff;
}
#container footer #footer-section #footer-nav {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
#container footer #footer-section #footer-nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 60% 10% 30%;
  grid-template-rows: repeat(3, 1fr);
}
#container footer #footer-section #footer-nav ul li {
  padding: 0.25em;
}
#container footer #footer-section #address {
  padding: 1em;
}
#container footer #footer-section #address #address-paragraph {
  display: flex;
  flex-direction: column;
}
#container footer #footer-section #address #address-paragraph span {
  padding: 0.25em 0;
}
#container footer #footer-section #address #address-paragraph span#kit {
  font-size: 0.75em;
}
#container footer #footer-section #copyright {
  display: none;
}

@media screen and (min-width: 852px) {
  #container nav {
    display: flex;
    padding: 0 3em;
    align-items: center;
  }
  #container nav ul {
    display: flex;
    margin-left: auto;
    list-style-type: none;
  }
  #container nav ul li {
    padding: 0.5em;
  }
  #container nav ul #signup {
    border: 1px solid #fff;
    padding: 0.5em 1em;
    margin-left: 1em;
    border-radius: 0.5em;
  }
  #container #section1 {
    margin-top: 2em;
    align-items: center;
  }
  #container #section1 div {
    width: 70%;
  }
  #container #section1 #section1-div1 img {
    width: 100%;
    height: auto;
  }
  #container #section2 #section2-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #container #section2 #section2-child #section-left {
    width: 100%;
    padding: 4em;
  }
  #container #section2 #section2-child #section-left div {
    width: 80%;
    margin: 0 auto;
  }
  #container #section2 #section2-child #section-left p {
    font-size: 0.8em;
  }
  #container #section2 #section2-child #section-right {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "one two two" "three four five" "three six seven";
    grid-gap: 0px 0px;
    padding: 0;
  }
  #container #section2 #section2-child #section-right #img-1 {
    grid-area: one;
  }
  #container #section2 #section2-child #section-right #img-2 {
    grid-area: two;
  }
  #container #section2 #section2-child #section-right #img-3 {
    grid-area: three;
  }
  #container #section2 #section2-child #section-right #img-4 {
    grid-area: four;
  }
  #container #section2 #section2-child #section-right #img-5 {
    grid-area: five;
  }
  #container #section2 #section2-child #section-right #img-6 {
    grid-area: six;
  }
  #container #section2 #section2-child #section-right #img-7 {
    grid-area: seven;
  }
  #container #cards {
    padding: 2em;
    margin-top: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    -moz-column-gap: 3em;
         column-gap: 3em;
  }
  #container #cards .section3 {
    margin: 1.5em 0;
  }
  #container #section-4 #section-4-div p {
    width: 100%;
    margin-bottom: 3em;
  }
  #container #section-4 #section-4-div #div-boxes {
    display: flex;
  }
  #container #section-4 #section-4-div #div-boxes .boxes {
    margin: 0.5em;
  }
  #container footer section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
  }
  #container footer section #footer-nav {
    width: 74%;
  }
  #container footer section #address {
    padding: 0;
  }
  #container footer section #address p {
    text-align: center;
  }
}
@media screen and (min-width: 1366px) {
  nav {
    display: flex;
    padding: 0 3em;
    align-items: center;
  }
  nav #menu {
    display: none;
  }
  nav #navigation {
    display: block;
    position: static;
    top: 0;
    height: auto;
    width: auto;
    margin-left: auto;
  }
  nav #navigation ul {
    position: static;
    top: 0;
    width: auto;
    height: auto;
    flex-direction: row;
  }
  nav #navigation ul li {
    padding: 0.5em;
  }
  nav #navigation ul #signup {
    border: 1px solid #fff;
    padding: 0.5em 1em;
    margin-left: 1em;
    border-radius: 0.5em;
  }
  #container #section1 {
    flex-direction: row;
  }
  #container #section1 #section1-div1 {
    padding-left: 1em;
  }
  #container #section1 #section1-div2 {
    margin-bottom: 45em;
    margin-left: 4em;
  }
  #container #section1 #section1-div2 h6 {
    font-size: 20px;
  }
  #container #section2 #section2-child {
    background-color: #f1f9ff;
    padding-left: 3em;
    flex-direction: row;
  }
  #container #section2 #section2-child #section-left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #container #section2 #section2-child #section-right {
    width: 100%;
  }
  #container #cards {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    -moz-column-gap: 3em;
         column-gap: 3em;
  }
  #container #section-4 #section-4-div {
    width: 800px;
    display: flex;
  }
  #container #section-4 #section-4-div p {
    font-size: 1em !important;
  }
  #container #section-4 #section-4-div #div-boxes {
    flex-direction: column;
  }
  #container footer section#footer-section {
    display: grid;
    grid-template-columns: 15% 30% 20% 35%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "one two three four" "five six seven eight";
    grid-gap: 0.5em;
    margin-left: 5em;
  }
  #container footer section#footer-section h3 {
    grid-area: one;
  }
  #container footer section#footer-section section#footer-nav {
    grid-area: two;
  }
  #container footer section#footer-section p#subscribe {
    padding: 0;
    position: relative;
    top: 1em;
    grid-area: three;
  }
  #container footer section#footer-section section#address {
    position: relative;
    left: 6em;
    grid-area: four;
  }
  #container footer section#footer-section section#address p#address-paragraph {
    text-align: left;
  }
  #container footer section#footer-section section#address p#address-paragraph span#kit {
    display: none;
    font-size: 0.75em;
  }
  #container footer section#footer-section form {
    grid-area: seven;
    width: 100%;
    position: relative;
    top: -5em;
    height: 40px;
  }
  #container footer section#footer-section section#copyright {
    display: block;
    font-size: 0.75em;
    padding: 0;
    grid-area: five;
  }
}/*# sourceMappingURL=style.css.map */