* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$veryLightBlue: #F1F9FF;
$lightBlue: #BCE0FD;
$regularBlue:#2699FB;
$regularGrey: #CCCCCC;
$lightGrey: #d6d6d6d6;
$darkGrey: #7F7F7F;
$regularWhite: #FFFFFF;
$regularBlack: #000000;


$arial: Arial, Helvetica, sans-serif;
$georgia: Georgia, 'Times New Roman', Times, serif;

